-i https://pypi.org/simple
atomicwrites==1.3.0
attrs==19.1.0
django==2.2.1
importlib-metadata==0.9
more-itertools==7.0.0 ; python_version > '2.7'
pluggy==0.10.0
py==1.8.0
pytest-django==3.4.8
pytest==4.4.1
pytz==2019.1
six==1.12.0
sqlparse==0.3.0
zipp==0.4.0
